<div class="container">
    <div class="row">
        <div class="col-md-12 card borderr" style="padding: 50px; margin-bottom: 50px;">
            <h1 class="text-center txtc2">Acerca de esta APP</h1>
            <br><br>
            <p>LA HONRA Y LA GLORIA SIEMPRE SEA PARA DIOS. SIN DIOS NO SOMOS NADA.</p>
            <br>
            <p>Esta es una web app que lo que hace es que almacenar la informacion personal de los heroes, como ser
                nombre, biografia, fecha de aparicion,
                una pequenia imagen y la casa a la que pertenecen. Sus funciones son listar los Heroes guardados,
                agregar nuevos Heroes, Borrar Heroes y actulizar la informacion de los Heroes.
            </p>
            <p>Tecnologias usadas para esta Web App: <br>
                + NodeJS(Back-end, Web Server).<br>
                + MongoDB(Base de datos no relacional, NO SQL).<br>
                + Handlebars(Front-end).<br>
                + Bootstrap 4, CSS 3(Disenio).<br>
            </p>
            <p>Datos Tenicos: <br>
                Esta app esta desarollada con NodeJS como Back-end ECMAScript6, la informacion esta guarada en un
                base de datos con MongoDB, se utilizo Handlebars, BootStrap 4 y CSS3 para el Front-End. <br> <br>
                Esta App esta alojada en un servidor en la nube, la base de datos esta alojada en un servidor
                especializado para base de datos MongoDB(MongoDB Atlas). <br> <br>
                Las imagenes de los Heroes que se suben a travez de esta Web App no estan siendo almacenadas en nuestro
                servidores, estan siendo enviadas en servidores externos para ser tratadas y almacenadas de una manera
                mas segura. Estan siendo almacenadas en Cloudinary, un servicio en la nube para el almacenamiento de
                imagenes con gran capacidad.
            </p>
        </div>
    </div>
</div>