<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 card borderr" style="padding: 20px; margin-bottom: 50px;">
            <h1 class="text-center txtc2">Nuevo Heroe</h1>
            <br>
            <form action="/heroes" method="post" enctype="multipart/form-data">

                {{!-- NOMBRE --}}
                <div class="form-group row">
                    <label for="txtName" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Nombre"
                            required>
                    </div>
                </div>

                {{!-- BIOGRAFIA  --}}
                <div class="form-group row">
                    <label for="txtBio" class="col-sm-2 col-form-label">Biografia</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="txtBio" name="txtBio" rows="3" placeholder="Biografia..."
                            required></textarea>
                    </div>
                </div>

                {{!-- APARICION --}}
                <div class="form-group row">
                    <label for="datepicker" class="col-sm-2 col-form-label">Aparicion</label>
                    <div class="col-sm-10">
                        <input id="datepicker" width="276" name="txtDate" required />
                    </div>
                </div>

                {{!-- IMAGEN --}}
                <div class="form-group row">
                    <label for="image" class="col-sm-2 col-form-label">Imagen</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image" name="image" required>
                            <label class="custom-file-label" for="customFile">Selecione una imagen</label>
                        </div>
                    </div>
                </div>

                {{!-- COMBOBOX CASA --}}
                <div class="form-group row">
                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Casa</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="exampleFormControlSelect1" name="ComboBox" required>
                            <option>Marvel</option>
                            <option>DC</option>
                            <option>TELEVISA</option>
                            <option>CHINA</option>
                            <option>JAPON</option>
                            <option>CAPCOM</option>
                            <option>KONAMI</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                </div>

                {{!-- SOME SCRIPTS --}}
                <script>
                    // Add the following code if you want the name of the file appear on select
                    $(".custom-file-input").on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
                </script>
                <script>
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap4'
                    });
                </script>
                <br>

                {{!-- BOTON --}}
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar Heroe
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>